@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}
.navbar-support {
  display: flex;
  position: relative;
}

.navbar-support a {
  text-decoration: none;
  color: #d11f26;
  position: relative;
  top: 5px;
}


.line {
  border: 0.2px solid #eceaea;
  height: 35px;
}

.nav-item {
  font-size: 17px;
}



.navbar-support label {
  top: 0px;
  left: 8px;
  text-align: left;
  line-height: 17px;
  font-size: 0.7vw;
  letter-spacing: 0px;
  color: #231f20;
  opacity: 1;
  position: absolute;
}

.navbar-nav {
  text-align: center;
  line-height: 20px;

  font-size: 15px;
  color: #231f20;
}

.nav-item a {
  text-align: center;
  line-height: 20px;

  font-size: 15px;
  color: #231f20;
}

.navbar-nav .nav-item a#nav:hover {
  color: #d11f26;
}

.navbar-nav .dropdown .nav-drop:hover{
  color: #d11f26;
}

.header-nav .nav-item .btn-danger {
  border-radius: 0;
  padding: 10px 20px;
}
.header-nav.navbar-expand-lg .navbar-nav {
  align-items: center;
}


@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    display: grid;
  }

  .navbar-logo {
    position: absolute;
    left: 0;
    padding-left: 20px;
  }

  .navbar-toggler-icon {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    margin-top: 50px;
    left: 0;
  }

  .dropdown-menu.show {
    position: absolute;
  }

  .nav-item a {
    font-size: 25px;
  }

.navbar-support label{
  font-size: 10px;
}
  .home-banner-backgroundtext{
    display: none;  
}

/* .home-banner-img{
  width: 80%;
    position: absolute;
    right: 0;
    left: 425px;
    top: 0;
    bottom: 0;
} */


/* test */

.home-banner{
  position: relative;
  display: block;
  /* padding: 272px; */
}

.home-banner-text h1{
  margin-top: 18px;
}

.home-banner-text p{
  font-size: 25px;
  display: table-caption;
}

.home-banner-btn{
  position: sticky;
  margin-top: 15px;
}

.home-banner-img{
    width: 80%;
    left: 367px;
    bottom: 315px;
}



.home-banner-img .centered{
  position: absolute;
    left: 169px;
}
.navbar-nav .nav-link {
  padding-left: 20px;
}
.navbar-nav .nav-link button{
  padding-left: 20px;
}

}

@media (min-width: 370px) and (max-width: 480px){
  .home-banner-text h1{
    font-size: 20px;
  }
  .home-banner-text span{
    font-size: 25px;
  }
  }


@media (min-width: 541px) and (max-width: 767px) {
  .navbar-logo {
    position: absolute;

    left: 5px;
  }

  .navbar-band {
    width: 120px;
  }

  .navbar-toggler {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .navbar-list {
    position: absolute;
    right: 4px;
    top: 60px;
  }

  .dropdown-menu.show {
    position: absolute;
    right: 30px;
  }

  .home-banner-text h1 {
    display: grid;
    margin-top: revert;
  }
  span {
    display: grid;
    font-size: 20px;
  }
  .dropdown-menu.show {
    position: sticky;
  }
  .home-banner-text p {
    font-size: 11px;
    width: 317px;
    word-break: keep-all;
  }
  .home-banner {
    display: contents;
  }

  /* dfsf */
  .home-banner-text h1{
    font-size: 35px;
    margin-top: 36px;
  }

  .home-banner-text span{
    font-size: 35px;
  }

  .home-banner-btn{
    height: 4px;
    width: 177px;
    font-size: 13px;
    /* display: flex; */
    align-items: center;
  }

  .home-banner-img .centered{
    height: 37px;
    width: 124px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  
  .home-banner-img{
    width: 82%;
    top: 124px;
  }

  .home-banner-img img{
    width: 80%;
    position: relative;
  }

  .home-banner-img .centered img{
    position: relative;
    width: 60%;
    bottom: 0px;
    right: 0px;
    left: 27px;
  }



}

@media (min-width: 370px) and (max-width: 540px) {
  .navbar-logo {
    position: absolute;

    left: 5px;
  }

  .navbar-band {
    width: 120px;
  }

  .navbar-toggler {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .navbar-list {
    position: absolute;
    right: 4px;
    top: 60px;
  }

  .dropdown-menu.show {
    position: absolute;
    right: 30px;
  }

  .home-banner-text h1 {
    display: grid;
    /* margin-top: revert; */
    font-size: 30px;
    /* display: table-caption; */
    margin-top: 51px;
  }
  span {
    display: grid;
    font-size: 30px;
  }
  .dropdown-menu.show {
    position: sticky;
  }
  .home-banner-text p {
    font-size: 11px;
    width: 270px;
    word-break: keep-all;
  }
  .home-banner {
    display: contents;
  }

  .home-banner-img {
    width: 70%;
  }

  .home-banner-img img{
    width: 90%;
    position: relative;
    bottom: 0;
    top: 118px;
  }

  .home-banner-img .centered img{
    width: 60%;
    position: relative;
    bottom: 0;
    top: 112px;
    right: 0px;
  }

  .home-banner-btn{
    height: 4px;
    width: 177px;
    font-size: 13px;
    /* display: flex; */
    align-items: center;
  }
}



@media (min-width: 1024px) and (max-width: 1280px){
  .home-banner-text h1 span{
     position: relative;
     z-index: 3; 
  }

.home-banner-backgroundtext label{
        font-size: 129px;  
  }
}



/* hero section */

.home-banner {
  background-color: #f7f7f7;
  position: relative;
  z-index: 2;
}


.home-banner-text h1{
  font-size: 55px;
  display: table-caption;
}

.home-banner-text h1 span{
  color: #d11f26;

}

.home-banner-text p{
  position: relative;
  font-style: "Work Sans", sans-serif;
  z-index: 2;
}

.home-banner-btn .btn{
  border-radius: 0;
  padding: 10px 20px;
}

.home-banner-img{
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.home-banner-btn{
  position: absolute;
  z-index: 3; 
}

.home-banner-backgroundtext{
  position: absolute;
  bottom: 0;
  left: 16px;
  z-index: 1;
  opacity: 0.6;
  font-size: 237px;
  color: #fff;
}

.img-fluid {
  opacity: 0.9;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-banner-img .centered:hover{
  cursor: pointer;
}


/* .home-banner::before{
  content: 'Flint Tech';
  position: absolute;
  bottom: 0;
  left: 16px;
  z-index: 1;
  opacity: 0.6;
  font-size: 237px;
  color: #fff;
} */


/* .home-banner-img::before{
  content: '';
  position: absolute;
  transform: rotate(45deg);
  width: 36px;
  height: 36px;
  bottom: -12px;
  z-index: -1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
} */

/* our service */

.container{
  font-family: 'raleway';
  display: flex;
 justify-content: space-between;
  align-items: left;
  flex-direction: column;

}

.container h1{
  
  font-size: 20px; 
  
  text-align: left;  
  color: #231F20;
  font-family: 'Work Sans', sans-serif;
}

.container label{
  font-size: 46px;
  color: #231F20;
  font-family: "Mulish", sans-serif;
}

.container label span{
  color: #D11F26;
}


.content-box{
  
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}

.card{
  min-height: 220px;
  width:320px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  border-radius: 0;
}


.card i{ 
    font-size: 20px;
    position: absolute;
    right: 15px;
    bottom: 10px;
}


.card .card-title{
margin-bottom: 12px;
color: #231F20;
font-size: 26px;
font-family: 'Mulish', sans-serif;

}


.card p{
  color: #231F20;
  
}



.card-img, .card-img-top {
  border-top-left-radius:0;
    border-top-right-radius:0;
}

.card-line{
  border: 1px solid #D11F26;
  width: 40px;
  margin-bottom: 4px;
}


.card:hover i,
.card:hover .card-title{
    color: #D11F26;
    
}



  /***Responsive****/
  
  
  @media (max-width: 991px)
  {
      .container{
          padding:25px;   
      }
      .container h1{
          font-size: 2.5em;
          font-weight:  600;
          margin-top: 70px;
      }
      .content-box{
          flex-direction: column;
          width: 100%;
          
      }
      .card{
          min-width: 300px;
          margin: 10px auto;
      }
  }