@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* for logo , phone nmber and phone logo */
  .logo{
    position:absolute;
    top: 23px;
left: 375px;
width: 181px;
height: 55px;
  }

  .line{
    position:absolute;
    top: 33px;
    left: 578px;
    width: 1px;
    height: 35px;
    background: #ECEAEA 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .support{
   
    position: absolute;
    top: 27px;
    left: 645px;
    width: 73px;
    height: 17px;
    letter-spacing: var(--unnamed-character-spacing-0);
letter-spacing: 1px;
text-align: left;
color: #231F20;
  }

  .number{
    position: absolute;
    top: 45px;
    left: 645px;
    width: 124px;
    height: 27px;
  }
  .phone{
    position: absolute;
    top: 32px;
left: 599px;
width: 37px;
height: 37px;
opacity: 1;
background: transparent no-repeat padding-box;
  }

  /* for menu */
  .menu{
    position: absolute;
    top: 39px;
left: 1019px;
width: 335px;
height: 22px;
text-align: right;
font: normal normal 800 17px/22px Mulish;
letter-spacing: 3px;

  }
/* for button */
  .toggle{
    top: 31px;
    left: 1354px;
    width: 150px;
    height: 36px;
    text-align: center;
    font: normal normal 800 15px/20px Mulish;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: fixed;
  }

  .nav-link{
    color: #231F20;
  }

  .nav-link:hover{
    color: #D11F26
  }

 
  .dropdown:visited{
    color: #D11F26
  }

  .btn{
    background: #D11F26 0% 0% no-repeat padding-box;
    color: white;
  }


  @media (max-width:1339px){
    .logo {
      left: 2px;
    }
    .line{
      left: 190px;
    }
    .phone{
      left: 203px;
    }
    .support{
      left: 242px;
    }
    .number{
      left: 242px;
    }

    .menu{
    left: 425px;
    }

    .toggle{
      left:750px

    }



  }

  @media (min-width:500px) and (max-width:900px) {

    .logo {
      width: 115px;
      height: 50px;
      left: 2px;
    }
    .line{
      
      left: 130px;
    }
    .phone{
      top: 28px;
      width: 36px;
      height: 50px;
      left: 138px;
    }
    .support{
      left: 175px;
      font-size: small;
    }
    .number{
      left: 175px;
      font-size: small;
    }

    .menu{
      /* top: 28px; */
      font-size: small;
      left: 290px;
      /* letter-spacing: 3px; */
      }
  
      .toggle{
        padding: 10px 10px;
        font-size: 22px;
    border-radius: 8px;
        left:570px
  
      }
  }
  
