
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


#line{
  position:absolute;
  top: 25px;
  /* left: 515px; */
  left: 27.6vw;
  width: 1px;
  height: 35px;
  background: #ECEAEA 0% 0% no-repeat padding-box;
  opacity: 1;
}

#logo{
  width: 10.5vw;
    height: 3vw;
}

#phone{
 width: 2vw;

}

  #support{
    top: 15px;
    left: 30.5vw;
    text-align: left;
    line-height: 17px;
  font-family: Mulish;
  font-size:0.7vw;
    letter-spacing: 0px;
    color: #231F20;
    opacity: 1;
    position: absolute;
  } 
  
  #number{
    top: 30px;
    left: 30.5vw;
    /* left: 565px; */
    height: 27px;
    text-align: left;
    line-height: 27px;
    font-family: Mulish;
    font-size:1vw;
    letter-spacing: 0px;
    color: #D11F26;
    opacity: 1;
    position: absolute;
  }



#nav-l{
  text-align: center;
  line-height: 20px;
  font-family: Mulish;
  font-size: 15px;
  color: #231F20;

}

#nav-l:hover{
  color: #D11F26;
}


 
  #Touch{
    text-align: center;
    align-items:center ;
    line-height: 20px;
    font-family: Mulish;
    font-size: 15px;
    background-color: #D11F26;
    color: #FFFFFF;
  }

  #su{
    color: red;
  }